body {
    justify-content: center;
    align-items: center;
    background-color: #a9a9a9;
    height: 100vh;
    display: flex;
    background-image: url("imgs/5-icons.png");
}

#todo-list {
    background-color: rgb(255, 255, 255);
    font-family: 'Golos Text', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Shantell Sans', cursive;
    width: 600px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
}

#left-margin {
    height: 400px;
    width: 25px;
    background-image: url("imgs/left-margin.png");
    background-repeat: repeat;
    background-size: 25px 25px;
    float: left;
}

#tasks {
    padding-left: 40px;
    padding-top: 20px;
    width: 500px;
}

#btn-add{
    position: fixed;
    top: 550px;
    left: 970px;
    height: 30px;
    border: none;
    background-color: #d5ffcf;
}

#form {
    position: fixed;
    height: 250px;
    width: 300px;
    display: none;
    background-color: #d5ffcf;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

#form form{
    padding: 5px;
    border-radius: 15px;
    
}
.field_form{
    padding: 6px;
}
textarea#descricao {
    width: 100%;
    height: 100px;
}

#container{
    border: 1px solid grey;
    border-radius: 15px;
}

#btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

#btns button{
    margin-right: 10px;
}

#tasks img{
    width: 15px;
}

#send{
    display: none;
}

#update{
    display: none;
}

.task {
    display: flex;
    margin: 1px;
    align-items: center;
}
.content{
    width: 500px;
    justify-content: space-between;
    border: solid 1px rgb(68, 107, 110);
    border-radius: 15px;
    padding: 8px;

  }
  .edit-icon {
    margin-left: 10px;
  }
  .edit-icon:hover{
    cursor: pointer;
  }
  .delete-icon {
    margin-left: 10px;
  }
  .delete-icon:hover{
    cursor: pointer;
  }
  .descricao {
    font-size: 12px;
  }
  
  .prazo {
    font-size: 9px;
    margin-left: 8px; 
    float: right;
  }
  
  .prioridade {
    font-size: 9px;
    margin-left: 8px; 
    float: right;
  }